main {
  max-width: 1440px;
  margin: auto;
}

* {
  font-family: "Poppins";
}

body {
  margin: 0;
}

a.navbar-brand {
  color: #6070ff;
}

.nav-item a {
  color: #344563;
}

#headline {
  background-image: url(./static/images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#headline > div {
 max-width: 920px;
 margin: auto;
 padding-top: 289px;
}

h2 {
  color: #091e42;
  letter-spacing: 0.37px;
  line-height: 60px;
  font-size: 48px;
}

p {
  color: #344563;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}
.card {
max-width: 1156px;
margin: auto;
border-radius: 24px;
}

.canopy-img, .tonic-icons-container img {
  margin: 0 5px;
}

.tonic-heading { 
line-height: 52px;
font-size: 40px;
color: #091e42;
}
.canopy-header {
  line-height: 24px;
  font-size: 18px;
  color: #344563;
}
.canopy-text {
line-height: 24px;
font-size: 18px;
color: #6b778c;
}
.tonic-parag {
  line-height: 24px;
  font-size: 18px;
  color: #344563;
}
.btn {
  font-size: 17px;
  color: #396df2;
}